<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.bggoranoff.tradegame">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/trading_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/trading_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.TradeGame">
        <activity android:name=".activity.AssetActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.ManualActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.PortfolioActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.TradeActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>